Multiple Input in *Python*

In [9]:
#Space separated Multiple Input
a,b=input("Enter Two Number\n").split()

Enter Two Number
10 189

In [11]:
#Convert String Input to Int
a,b=map(int,input("Enter two nos\n").split())

Enter two nos
18 89

In [13]:
#taking Multiple Input in List
list1=list(map(int,input("Enter multiple nos \n").split()))

Enter multiple nos
10 23 34 45 67 89 38

In [15]:
list2=[int(i) for i in input("Enter Multiple Input in a list").split()]

Enter Multiple Input in a list12 34 56  78 90 87

Formatting Output

In [20]:
#Print without new line in python
a=[10,12,45,56,78,98,37]
for i in a:
  print(i,end=" ")

10 12 45 56 78 98 37

In [21]:
#Using Format
print("My name is {0} and title is {1}".format("tanya","sinha"))

My name is tanya and title is sinha

In [22]:
#Formatting Numbers
print("My first no is %0d and second no is %0.2f"%(1100,56.98978967))
print("My first no is %0d and second no is %0.5f"%(1100,78.9056784890))

My first no is 1100 and second no is 56.99
My first no is 1100 and second no is 78.90568